<section class="masthead bg-primary text-white text-center">
  <div class="container">
    
    <span style="font-size: 120px;"> </span>
    <img
      class="img-fluid"
      src="/images/<%= image %>"
      alt="avatar"
    />
    <h1 class="text-uppercase mb-0"><%= name %></h1>
    <hr class="star-light" />
    <h3 class="font-weight-light mb-0"><%= role %></h3>
    <br>
    <h6 class="font-weight-light mb-0"><%= shortParagraph %></h6>
    <button class= "About" ><a href="<%= link %>">Download Resume</a></button>
  </div>
</section>